* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/*variable declaration*/
:root {
    --dark: #34465E;
    --light: rgb(226, 236, 249);
    --bg-light: #e5e8ed;
    --mid-light: #bad1f0;
    --mid: #9db8db;
    --mid-dark: #6B90C2;
    --grey: #646B75;
    --pop: #F49D7C;
    --dark-pop: #a8421c;
    --section-head-fontsize: 40px;
    --section-margin: 1.5vw;
    --vertical-padding: 20px;
    --line-width: 3px;
}

body {
    background-color: var(--bg-light);
}

/* header/nav bar styling*/
header {
    padding: var(--vertical-padding);
    background-color: var(--dark);
    color: #fff
}

.head-name {
    display: inline-block;
    font-size: 48px;
}

/*the following elements style the nav links that are part of the header*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 23px;
}
/*list items should not have styles (bullet points)*/
.nav-ul {
    list-style-type: none;
}

/*list items within the header bar should display inline*/
header li {
    display: inline-block;
    margin-left: 25px;
}

/*list items should not have standard link styling*/
.nav-link {
    color: var(--mid);
}

/*on hover over links, use lighter color*/
.nav-link:hover {
    color: var(--mid-light)
}

/*generates a picture that loads below the nav bar*/
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: var(--vertical-padding);
    background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/main_image_star-forming_region_carina_nircam_final-5mb.jpg");
    background-size: cover;
    background-position: 0px -100px;
    position: relative;
    background-repeat: no-repeat;
}

.hero-subtitle {
    position: absolute;
    padding: 5px;
    bottom: 10px;
    right: 30px;
    background-color: rgba(226, 236, 249, .7);
}

#about-me, #contact-me, #work{
    display: flex;
    margin-bottom: var(--vertical-padding)
}

.section-title {
    font-size: var(--section-head-fontsize);
    flex: 1 1;
    text-align: end;
    color: var(--grey);
    border-right: var(--line-width) solid var(--grey);
    padding-right: var(--section-margin);
    padding-left: var(--section-margin);
    margin-bottom: var(--vertical-padding);
}

.section-content {
    flex: 4 3;
    color: var(--dark);
    margin: 0 var(--section-margin) 0 var(--section-margin)
}

/*puts in vertical padding between paragraphs*/
.bio-paragraph {
    margin-bottom: var(--vertical-padding);
}

/*avoids doubling up on margins at the bottom of the bio paragraph */
.bio-paragraph:last-child {
    margin-bottom: 0px;
}

.bio-img{
    max-height: 250px;
    float:left;
    margin-right: var(--vertical-padding)
}

/*contact me section (links) styling */
.contact-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-links {
    color: var(--grey);
    flex: 1;
    display: inline-block;
    text-align: center;
    margin: 0 5px var(--vertical-padding) 5px;
}

.contact-links:hover {
    color: var(--mid-dark);
}

/*application images styling*/
.work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}

.work-example {
    position: relative;
    border: var(--line-width) solid var(--mid);
    width: 100%;
    height: 175px;
}
.work-example:last-child:nth-child(odd){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 350px;
}

.work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(.8);
}

.work-example:hover img {
    filter: none;
}

.work-desc {
    background-color: var(--mid);
    color: var(--dark);
    position: absolute;
    bottom: 20px;
    padding: 5px 10px; 
    max-width: 60%;
}

/*tablet layout changes*/
@media (max-width: 992px) {
    /*header/nav bar changes for tablets (yikes)*/
    header {
        padding: 0;
    }

    .head-name {
        display:block;
        font-size: 48px;
        background-color: var(--mid);
        color: var(--dark);
        padding: 10px var(--vertical-padding);
        text-align: center;
    }

    nav {
        padding: 15px;
        display: block;
        float:unset;
        margin: 0;
    }
    header li {
        margin: 0;
    }
    .nav-link {
        text-align: center;
        margin: 0px var(--vertical-padding);
    }
    .nav-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    /*puts section headers above their sections rather than beside them*/
    #about-me, #contact-me, #work{
        display: initial;
        margin-bottom: var(--vertical-padding);
    }
    
    .section-title {
        text-align: start;
        block-size: 100%;
        border-right: none;
        border-bottom: var(--line-width) solid var(--grey);
        margin: var(--vertical-padding);
    }
    
    .work {
        margin: 25px;
    }
    
    .section-content{
        margin: 0 28px;
    }

    /*resizes font for application images for non-desktops*/
    .work-desc {
        max-width: 80%;
    }

    .work-desc h2 {
        font-size: 15px;
    }
    .work-desc p {
        font-size: 12px;
    }
}

/*specific media query for my hero image, which gets weird sizing if shrunk below this*/
@media (max-width:520px) {
    .hero{
        background-position: 0px;
    }
    .hero-subtitle{
        position: absolute;
        left: 50%;
        right: unset;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
    }

    .section-title{
        font-size: 30px;
    }

    /*undoes grid layout*/
    .work {
        display: flex;
        flex-direction: column;
    }
    /* makes the images slightly smaller for mobile*/
    .work-example{
        height: 150px;
    }

    /*separate selector needed because of specificity, probably*/
    .work-example:last-child:nth-child(odd){
        height: 150px;
    }
    
    .work-desc {
        max-width: 50%;
    }
    
    .contact-me {
        display: initial;
    }
    .contact-links {
        display: block;
        text-align: start;
        margin-left: 28px;
        margin-bottom: 10px;
    }

    /*put bio image above bio*/
    .bio-img {
        float:unset;
        max-height:unset;
        max-width:100%;
        margin: var(--section-margin)
    }

}